body{
    background-color: #D1BB9E;
}
.nav-bar {
    background-color:#EADBC8;
    padding: 5px 0;
}

.container {
   max-width: 1200px;
   margin: 0 auto; 
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.nav-menu {
    display: flex;
    justify-content: center;
    list-style-type: none;

}

.nav-item {
    margin: 0 15px;
    color: white;
    padding: 14px 16px;
    
}
.frase{
    position: absolute;
    top: 115%;
    left: -1%;
    right: 10%;
    transform: translate(0%, -20%);
    color: white;
    font-size: 17px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.cafe-cap, .cafe-afo{ 
    flex-basis: 190%;
    text-align: center; 
    position: relative;
   
   
}
.cafe-cap{
    margin-left: 450px;
}
.cafe-afo{
    margin-right: 450px;
}
.cafe-cap img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
.cafe-afo img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.container-cafe{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px; 
}

footer{
    margin-top: 300px;
    border-radius: 10px;
    background-color: #EADBC8;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-left: 0px;
}
footer svg{
    width: 24px;
    height: 24px;
    margin: 0;
}
  